@font-face {
  font-family: Magda;
  src: url('../public/fonts/Magda.otf')
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #FCE0B0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

::selection {
  background: #FFE75C;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  font-family: Magda;
}

.ant-collapse-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ant-picker-panel {
  font-family: Magda;
}
.ant-picker-header-view button {
  font-family: Magda;
}
.ant-picker-input input {
  font-family: Magda !important;
}

.ant-input-number-input {
  font-family: Magda !important;
}

.ant-select-selector {
  font-family: Magda !important;
}
.ant-select-dropdown {
  font-family: Magda !important;
}
label.ant-radio-button-wrapper span {
  font-family: Magda;
}


@media(max-width: 576px) {
  .image {
    width: 90%;
    height: 100%;
  }
  .label {
    font-size: 66px;
  }
  .calendar {
    width: 90% !important;
  }
}
