* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #FCE0B0;
}

::selection {
  background: #FFE75C;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

.chickenModal {
  background: none;
}

.ant-collapse-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media(max-width: 576px) {
  .image {
    width: 90%;
    height: 100%;
  }
  .label {
    font-size: 66px;
  }
}
