.eggPage {
  background: #D8E9E4;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.eggImg {
  display: flex;
  justify-content: center;
  background: #D8E9E4;
}

.lottie {
  display: flex;
  justify-content: center;
  background: #D8E9E4;
}
.lottie svg {
  background: #D8E9E4;
}

.subtitle{
  font-size: 84px;
  display: flex;
  justify-content: center;
  background-color: #D8E9E4;
  padding: 1rem 0 3rem;
  position: relative;
  z-index: 3;
}
